
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Untree.co">
  <link rel="shortcut icon" href="favicon.png">

  <meta name="description" content="" />
  <meta name="keywords" content="" />

  <link href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700,900" rel="stylesheet">
  <link rel="stylesheet" href="../static/fonts/icomoon/style.css">

  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/jquery-ui.css">
  <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
  <link rel="stylesheet" href="../static/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="../static/css/owl.theme.default.min.css">

  <link rel="stylesheet" href="../static/css/jquery.fancybox.min.css">

  <link rel="stylesheet" href="../static/css/bootstrap-datepicker.css">

  <link rel="stylesheet" href="../static/fonts/flaticon/font/flaticon.css">

  <link rel="stylesheet" href="../static//css/aos.css">

  <link rel="stylesheet" href="../static/css/style.css">
  <title>Observo</title>
</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    <div class="top-bar py-2" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 text-center text-lg-right order-lg-2">
            <ul class="social-media m-0 p-0">
              <li><a href="#" class="p-2"><span class="icon-facebook"></span></a></li>
              <li><a href="#" class="p-2"><span class="icon-twitter"></span></a></li>
              <li><a href="#" class="p-2"><span class="icon-instagram"></span></a></li>
              <li><a href="#" class="p-2"><span class="icon-linkedin"></span></a></li>
            </ul>
          </div>
          <div class="col-md-6 text-center text-lg-left order-lg-1">
            <p class="mb-0 d-inline-flex">
              <span class="mr-3"><a href="tel://#" class="d-flex align-items-center"><span class="icon-phone mr-2"></span><span>+91 9301365501</span></a></span>
              <span><a href="tel://#" class="d-flex align-items-center"><span class="icon-envelope mr-2"></span><span>kumarlavya.686@gmail.com</span></a></span>
            </p>
          </div>

        </div>
      </div> 
    </div>

    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

      <div class="container">
        <div class="row align-items-center">

          <div class="col-11 col-xl-2">
            <h1 class="mb-0 site-logo"><a href="index.html" class="mb-0">Observo<span class="text-primary">.</span> </a></h1>
          </div>
          <div class="col-12 col-md-10 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">

              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <li><a href="#home-section" class="nav-link">Home</a></li>
                <li><a href="#work-section" class="nav-link">Work</a></li>
                <li>
                  <a href="#services-section" class="nav-link">Services</a>
                </li>
                <li class="has-children">
                  <a href="#about-section" class="nav-link">About</a>
                  <ul class="dropdown">
                  
                    <li><a href="#team-section">Our Team</a></li>
                  </ul>
                </li>
               
              </ul>
            </nav>
          </div>


          <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

        </div>
      </div>
      
    </header>


    <div class="particlehead"></div>
    <!-- <div class="container"> -->
      <div class="site-blocks-cover">
        <div class="container">
          <div class="row align-items-center justify-content-center text-center">

            <div class="col-md-12" data-aos="fade-up" data-aos-delay="400">

             <div class="row justify-content-center mb-4">
    <div class="col-md-10 text-center">
        <h1>ADVANCED AI SOLUTION FOR <span class="typed-words"></span></h1>
        <p class="lead mb-5">Let the AI track the Violence</p>

        <!-- Button to Open AI Cam -->
        <div>
          <a href="http://127.0.0.1:5000" target="_blank">
            <button class="btn">OPEN AI CAM</button>
        </a>
        
        </div>
    </div>
</div>

            </div>
          </div>
        </div>
      </div>  
      <!-- </div> -->


      <section class="site-section">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-lg-4 mb-lg-0 mb-4">
              <div class="box-with-humber bg-white p-5">
                <span class="icon icon-format_paint mr-2 text-primary h3 mb-3 d-block"></span>
                <h2 class="text-primary">Strategy</h2>
                <p class="mb-4">Observo AI detects violent and non-violent activities in real-time using advanced deep learning on live video. It enhances security by enabling rapid, automated threat detection without frame extraction.</p>
                <ul class="list-unstyled ul-check primary">
                  <li>Real-Time detection</li>
                  <li>Machine Learning</li>
                  <li>Violence</li>
                </ul>
              </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-lg-0 mb-4" data-jarallax-element="-50">
              <div class="box-with-humber bg-white p-5">
                <span class="icon icon-palette mr-2 text-primary h3 mb-3 d-block"></span>

                <h2 class="text-primary">AI-Powered Security Monitoring</h2>
                <p class="mb-4">Built with YOLOv8 and refined using Roboflow, our system ensures real-time violence detection through advanced video analysis.</p>
                <ul class="list-unstyled ul-check primary">
                  <li>YOLOv8</li>
                  <li>Roboflow</li>
                </ul>
              </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-lg-0 mb-4" data-jarallax-element="20">
              <div class="box-with-humber bg-white p-5">
                <span class="icon icon-laptop2 mr-2 text-primary h3 mb-3 d-block"></span>

                <h2 class="text-primary">Models</h2>
                <p class="mb-4"> Our AI features three specialized detection models: Fight Detection, Assault Detection, and Weapon Detection. Each model is trained to identify threats in real-time, ensuring accurate and efficient surveillance monitoring.</p>
                <ul class="list-unstyled ul-check primary">
                  <li>Fight Detection</li>
                  <li>Assault Detection</li>
                  <li>Weapon Detection</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="site-section">
        <div class="container">
          <div class="row align-items-center justify-content-around">
            <div class="col-lg-5" data-jarallax-element="-50">
              <h2 class="text-primary">Web Design</h2>
              <p class="mb-4">Our user-friendly dashboard interface provides real-time video feeds with violence detection alerts. The system highlights threats with bounding boxes and logs incidents for future analysis.</p>
          </div>

          </div>
        </div>
      </section>

      <section class="site-section" id="work-section">
        <div class="container">
          <div class="row mb-5 justify-content-center">
            <div class="col-md-8 text-center">
              <h2 class="site-section-heading text-center">Our Works</h2>
              <p class="lead">We specialize in AI-powered violence detection systems using YOLOv8 and Pose Estimation. Our technology analyzes real-time video feeds, detects threats, and instantly triggers alerts for enhanced security.</p>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 col-lg-4">
              <a href="../static/images/yash1.jpg" class="media-1" data-fancybox="gallery">
                <img src="../static/images/yash1.jpg" alt="Image" class="img-fluid">
                <div class="media-1-content">
                  <h2>KNIFE DETECTION</h2>
                  <span class="category"></span>
                </div>
              </a>
            </div>
            <div class="col-md-6 col-lg-4">
              <a href="../static/images/img_2.jpg" class="media-1" data-fancybox="gallery">
                <img src="../static/images/yash2.jpg" alt="Image" class="img-fluid">
                <div class="media-1-content">
                  <h2>NO VIOLENCE</h2>
                  <span class="category">Branding</span>
                </div>
              </a>
            </div>
            


          </div>
        </div>
      </section>

      <section class="section ft-feature-1">
        <div class="container">
          <div class="row align-items-stretch">
            <div class="col-12 w-100 ft-feature-1-content">
              <div class="row align-items-center">
                <div class="col-lg-5"  data-jarallax-element="50">

                  <img src="../static/images/MAIN.png" alt="Image" class="img-fluid mb-4 mb-lg-0">

                </div>
                <div class="col-lg-3 ml-auto" data-jarallax-element="-50">
                  <div class="mb-5">
                    <h3 class="d-flex align-items-center"><span class="icon icon-beach_access mr-2"></span><span>Observo</span></h3>
                    <p>An AI-powered violence detection system that enhances security through real-time threat detection using YOLOv8 and pose estimation.</p>
                    
                  </div>

                  <div>
                    <h3 class="d-flex align-items-center"><span class="icon icon-build mr-2"></span><span>Web Development</span></h3>
                    <p>We develop intelligent surveillance solutions, integrating AI with CCTV systems for real-time monitoring and instant alerts.</p>
                    
                  </div>

                </div>
                <div class="col-lg-3">
                  <div class="mb-5">
                    <h3 class="d-flex align-items-center"><span class="icon icon-format_paint mr-2"></span><span>Art Direction</span></h3>
                    <p>Crafting user-friendly interfaces and visual elements for seamless AI-driven security system interaction.</p>
                  
                  </div>

                  <div>
                    <h3 class="d-flex align-items-center"><span class="icon icon-question_answer mr-2"></span><span>Copywriting</span></h3>
                    <p>Creating clear and impactful content to communicate the importance of AI-powered safety solutions.</p>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


      

      <section class="site-section border-bottom" id="services-section">
        <div class="container">
          <div class="row justify-content-center mb-5">
            <div class="col-md-8 text-center" data-aos="fade-up">
              <h2 class="site-section-heading text-center">Our Services</h2>
            </div>
          </div>
          <div class="row align-items-stretch">
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
              <div class="unit-4 d-flex">
                <div class="unit-4-icon mr-4"><span class="text-primary icon-laptop2"></span></div>
                <div>
                  <h3>AI-Powered CCTV Surveillance</h3>
                  <p>Real-time violence detection using YOLOv8 and Pose Estimation, automatically identifying threats and sending instant alerts for enhanced security.</p>
                 
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">
              <div class="unit-4 d-flex">
                <div class="unit-4-icon mr-4"><span class="text-primary icon-shopping_cart"></span></div>
                <div>
                  <h3>Audio-Video Integrated Threat Detection</h3>
                  <p>Combining video analysis with audio detection (screams, gunshots) to improve accuracy and minimize false alarms in public spaces.</p>
                 
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="200">
              <div class="unit-4 d-flex">
                <div class="unit-4-icon mr-4"><span class="text-primary icon-question_answer"></span></div>
                <div>
                  <h3>Real-Time Alert System</h3>
                  <p>Using Raspberry Pi and Arduino to trigger alarms and notify security instantly when violent actions are detected.</p>
                  
                </div>
              </div>
            </div>


            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="300">
              <div class="unit-4 d-flex">
                <div class="unit-4-icon mr-4"><span class="text-primary icon-format_paint"></span></div>
                <div>
                  <h3>Custom AI Solutions for Security</h3>
                  <p>Developing AI-driven safety solutions tailored for schools, offices, and public areas to ensure proactive threat detection and response automation.</p>
                  
                </div>
              </div>
            </div>
            

          </div>
        </div>
      </section>

      <div class="site-section" id="about-section">
        <div class="container">
          <div class="row mb-5">

            <div class="col-md-5 ml-auto mb-5 order-md-2"  data-jarallax-element="50">
              <img src="../static/images/main2.png" alt="Image" class="img-fluid rounded">
            </div>
            <div class="col-md-6 order-md-1"  data-jarallax-element="-50">

              <div class="row">

                <div class="col-12">
                  <div class="text-left pb-1">
                    <h2 class="site-section-heading">About Us</h2>
                  </div>
                </div>
                <div class="col-12 mb-4">
                  <p class="lead">We are a team dedicated to developing AI-powered security solutions. Our system integrates YOLOv8, Raspberry Pi, and Arduino to detect violence in real-time, ensuring quick response and enhanced public safety.</p>
                </div>
                
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>


      <div class="site-section border-bottom" id="team-section">
        <div class="container">
          <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center">
              <h2 class="site-section-heading">Our Team</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
              <div class="person text-center bg-white p-4">
                <img src="../static/images/lavya.jpg" alt="Image" class="img-fluid rounded-circle mb-3">
                <h3>Lavya Kumar Beriwal</h3>
                <p class="position text-muted"></p>
                <ul class="ul-social-circle">
                  <li><a href="#"><span class="icon-linkedin"></span></a></li>
                  <li><a href="https://www.instagram.com/lavya_me?igsh=MWdjYjJ5dHl2OWk5dA=="><span class="icon-instagram"></span></a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
              <div class="person text-center bg-white p-4">
                <img src="../static/images/yash.jpg" alt="Image" class="img-fluid rounded-circle mb-3">
                <h3>Yash Malik</h3>
                <p class="position text-muted"></p>
                <ul class="ul-social-circle">
              
                  <li><a href="https://www.linkedin.com/in/sneha-sharma-584342327?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><span class="icon-linkedin"></span></a></li>
                  <li><a href="#"><span class="icon-instagram"></span></a></li>
                </ul>
              </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
              <div class="person text-center bg-white p-4">
                <img src="../static/images/sneha.jpg" alt="Image" class="img-fluid rounded-circle mb-3">
                <h3>Sneha Sharma</h3>
                <p class="position text-muted"></p>
                <ul class="ul-social-circle">
              
                  <li><a href="#"><span class="icon-linkedin"></span></a></li>
                  <li><a href="#"><span class="icon-instagram"></span></a></li>
                </ul>
              </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="300">
              <div class="person text-center bg-white p-4">
                <img src="../static/images/amit.jpg" alt="Image" class="img-fluid rounded-circle mb-3">
                <h3>Amit Sharma</h3>
                <p class="position text-muted"></p>
                <ul class="ul-social-circle">
              
                  <li><a href="https://www.linkedin.com/in/amit-sharma-098275279?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><span class="icon-linkedin"></span></a></li>
                  <li><a href="https://www.instagram.com/amitbaamn_?igsh=eTB6YWNuNnRlY2F6"><span class="icon-instagram"></span></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>



     
      <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-5">
                  <h2 class="footer-heading mb-4">About Us</h2>
                  <p>We are a team dedicated to developing AI-powered security solutions. Our system integrates YOLOv8, Raspberry Pi, and Arduino to detect violence in real-time, ensuring quick response and enhanced public safety.</p>
                </div>
                <div class="col-md-3 ml-auto">
                  <h2 class="footer-heading mb-4">Features</h2>
                  <ul class="list-unstyled">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Services</a></li>
                   
                    <li><a href="#">Contact Us</a></li>
                  </ul>
                </div>
                <div class="col-md-3">
                  <h2 class="footer-heading mb-4">Follow Us</h2>
                  <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                  <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                  <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                  <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <h2 class="footer-heading mb-4">Subscribe Newsletter</h2>
              <form action="#" method="post" class="subcription-form">
                <div class="input-group mb-3">
                  <input type="text" class="form-control border-secondary text-white bg-transparent" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-primary text-white" type="button" id="button-addon2">Send</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="row pt-5 mt-5 text-center">
            <div class="col-md-12">
              <div class="border-top pt-5">
              </div>
            </div>

          </div>
        </div>
      </footer>

    </div> <!-- .site-wrap -->

    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="../static/js/jquery-ui.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/owl.carousel.min.js"></script>
    <script src="../static/js/jquery.stellar.min.js"></script>
    <script src="../static/js/jquery.countdown.min.js"></script>
    <script src="../static/js/bootstrap-datepicker.min.js"></script>
    <script src="../static/js/jquery.easing.1.3.js"></script>
    <script src="../static/js/aos.js"></script>
    <script src="../static/js/jquery.fancybox.min.js"></script>
    <script src="../static/js/jarallax.min.js"></script>
    <script src="../static/js/jarallax-element.min.js"></script>
    <script src="../static/js/lozad.min.js"></script>
    <script src="../static/js/modernizr.min.js"></script>
    <script src="../static/js/three.min.js"></script>
    <script src="../static/js/TweenMax.min.js"></script>
    <script src="../static/js/OBJLoader.js"></script>
    <script src="../static/js/ParticleHead.js"></script>

    <script src="../static/js/jquery.sticky.js"></script>

    <script src="../static/js/typed.js"></script>
    <script>
      var typed = new Typed('.typed-words', {
        strings: ["SAFER CAMPUS"," SAFER WORKSPACE"," SAFER SOCIETY"],
        typeSpeed: 80,
        backSpeed: 80,
        backDelay: 4000,
        startDelay: 1000,
        loop: true,
        showCursor: true
      });
    </script>

    <script src="../static/js/main.js"></script>
    <script>
   function startCamera() {
   
    fetch('/start-camera', { method: 'POST' })
    .then(response => response.json())
    .then(data => {
        if (data.message) {
            // If successful, open the new page
            window.open('/dual-camera', '_blank');
        } else {
            alert(data.error || "Something went wrong.");
        }
    });
}
</script>
    

  </body>
  </html>
